@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.chat-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.chat-body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #d6d1d1, #2c2c2c);
  font-family: Helvetica, sans-serif;
}

.container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}
.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin: auto;
}
.chat-header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}
.chat-body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px 0;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  background-color: #eee;
  max-width: 80%;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.meta {
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}
.meta span {
  font-weight: 500;
}
.bot {
  align-self: flex-start;
  width: fit-content;
}

.user {
  align-self: end;
  width: fit-content;
  margin-right: 5px;
}

.chat-form-container {
  padding: 10px 0;
  /* border-top: 1px solid #ccc; */
  width: 100%;
}
#chat-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#chat-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}
#chat-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  outline: none;
}
#chat-form button:hover {
  background: #555;
}
